.fa-spotify {
    color: #1ED761;
}

.fa-soundcloud {
    color: #ff7700;
}

.spotifyPodcastsImage {
    width: 164.84px;
    height: 60.98px;
}

.applePodcastsImage {
    width: 164.84px;
    height: 60.98px;
}

.podcastLinks {
    text-align: center;
}