.fa-spotify {
    color: #1ED761;
}

.fa-soundcloud {
    color: #ff7700;
}

ul.social li a.fa-instagram {
    background: #fb3958;
}

ul.social li a.fa-instagram:hover {
    background: #d4477b;
}

.spotifyPodcastsImage {
    width: 164.84px;
    height: 60.98px;
}

.applePodcastsImage {
    width: 164.84px;
    height: 60.98px;
}

.podcastLinks {
    text-align: center;
}